---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import logoSamy from "../assets/LogoSAMY-sinfondo.webp";
import MenuClose from "../assets/svg/MenuClose.svg";
import MenuOpen from "../assets/svg/MenuOpen.svg";
---

<header
  class="flex w-full justify-around items-center bg-samy max-[720px]:justify-between border-b-2 border-b-[#39393980]"
>
  <a href="/" class="ml-2.5">
    <Image src={logoSamy} alt="Logo de SAMY" width={42} height={42} />
  </a>
  <div class="menu-container">
    <MenuClose
      class="MenuCloseSvg text-white hover:text-pink-800 min-[720px]:hidden mr-2.5"
    />
    <MenuOpen
      class="MenuOpenSvg text-white hover:text-pink-800 hidden min-[720px]:hidden mr-2.5"
    />
    <input type="checkbox" class="input-menu hidden" />
  </div>
  <Nav />
</header>

<script>
  //recupero el div (según yo es lo mejor)
  const menuContainer = document.querySelector(".menu-container");
  const inputMenu = document.querySelector(".input-menu") as HTMLInputElement;
  const nav = document.querySelector("nav") as HTMLElement;
  const MenuCloseSvg = document.querySelector(".MenuCloseSvg") as HTMLElement;
  const MenuOpenSvg = document.querySelector(".MenuOpenSvg") as HTMLElement;

  //si el div existe, y se le da click =>
  menuContainer?.addEventListener("click", () => {
    //si existe el input se le cambia el estado en el que se encuente
    if (inputMenu) {
      inputMenu.checked = !inputMenu.checked;
    }

    if (inputMenu.checked) {
      nav.style.display = "block";
      MenuCloseSvg.classList.add("hidden");
      MenuOpenSvg.classList.remove("hidden");
    }

    if (!inputMenu.checked) {
      nav.style.display = "none";
      MenuCloseSvg.classList.remove("hidden");
      MenuOpenSvg.classList.add("hidden");
    }
  });
</script>
