---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
---

<header class="flex w-full justify-around items-center bg-pink-400">
  <h1 class="text-3xl text-white font-bold">S A M Y</h1>
  <Nav />
</header>
