---
import ImgWelcome from "../../public/imgWelcome.webp";
import Image from "astro/components/Image.astro";

const fechaHoy = new Date();

const fechaCortaCo = fechaHoy.toLocaleDateString("es-CO");
---

<main class="p-5">
  <div class="BienvenidoHero flex items-center">
    <Image
      src={ImgWelcome}
      alt="Imagen de Bienvenida, Un helado Alegre"
      width={250}
      height={250}
      class="m-[30px]"
    />
    <div class="containerBienvenido">
      <h1 class="text-6xl text-black [text-shadow:_0px_0px_2px_#ff00ae]">
        ¡Bienvenido! 🍦
      </h1>
      <p>Aquí tienes el resumen general de la Heladeria</p>
    </div>
    <div class="fechaDiv">
      <p>Fecha</p>
      <strong class="text-samy">{fechaCortaCo}</strong>
    </div>
  </div>
  <div class="IngresosHoy"></div>
  <div class="VentasHoy"></div>
  <div class="GastosHoy"></div>
  <div class="GanaciasHoy"></div>
  <div class="EntradasSalidas"></div>
  <div class="top5Vendidos"></div>
  <div class="ResumenMes"></div>
</main>
