---
import "../styles/global.css";
---

<nav class="hidden max-[720px]:block">
  <ul class="flex gap-4">
    <li>
      <a
        href="/"
        class="text-white hover:font-bold hover:text-pink-800 hover:underline;"
        >Inicio</a
      >
    </li>
    <li>
      <a
        href="#"
        class="text-white hover:font-bold hover:text-pink-800 hover:underline;"
        >Productos</a
      >
    </li>
    <li>
      <a
        href="#"
        class="text-white hover:font-bold hover:text-pink-800 hover:underline;"
        >Ventas Hoy</a
      >
    </li>
    <li>
      <a
        href="#"
        class="text-white hover:font-bold hover:text-pink-800 hover:underline;"
        >Ventas Del Mes</a
      >
    </li>
  </ul>
</nav>

<style is:global>
  @reference "tailwindcss";

  @media (max-width: 720px) {
    nav {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: pink;
      z-index: 10;
      display: none;
    }

    nav ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }
  }
</style>
