---
import Bienvenido from "../components/Bienvenido.astro";
import Resumen from "../components/Resumen.astro";
import EntradasSalidas from "../components/EntradasSalidas.astro";
---

<main class="flex flex-col gap-2 md:gap-8 mt-14">
  <Bienvenido />
  <Resumen />
  <EntradasSalidas />
  <section class="ResumenMes"></section>
</main>
