---
import "../styles/global.css";
import HomeSvg from "../assets/svg/Home.svg";
import ConeSvg from "../assets/svg/Cone.svg";
import GraphicSvg from "../assets/svg/Graphic.svg";
import CalendarySvg from "../assets/svg/Calendary.svg";
---

<nav class="hidden min-[720px]:block">
  <ul class="flex gap-4 items-center">
    <li class="hover:bg-hover-samy rounded-2xl p-1.5">
      <a href="/" class="flex items-center gap-2 text-white">
        <HomeSvg class="w-5 h-5" />
        Inicio
      </a>
    </li>
    <li class="hover:bg-hover-samy rounded-2xl p-1.5">
      <a href="#" class="flex items-center gap-2 text-white ;">
        <ConeSvg class="w-5 h-5" />
        Productos</a
      >
    </li>
    <li class="hover:bg-hover-samy rounded-2xl p-1.5">
      <a href="#" class="flex items-center gap-2 text-white ;">
        <GraphicSvg class="w-5 h-5" /> Ventas Hoy
      </a>
    </li>
    <li class="hover:bg-hover-samy rounded-2xl p-1.5">
      <a href="#" class="flex items-center gap-2 text-white ;">
        <CalendarySvg class="w-5 h-5" /> Ventas Del Mes
      </a>
    </li>
  </ul>
</nav>
