---
import WinSvg from "../assets/svg/Win.svg";
---

<section
  class="w-[90%] mt-4 mx-auto flex md:w-full max-w-6xl flex-col items-center gap-4 md:gap-8 rounded-3xl border border-pink-200 bg-white/60 p-4 sm:p-8 shadow-sm backdrop-blur-sm md:justify-center"
>
  <div class="flex items-center gap-2 w-full text-start">
    <WinSvg class="text-samy" />
    <h3>Top 5 Productos más vendidos(Hoy)</h3>
  </div>
  <div class="flex w-full gap-x-2.5 justify-center">
    <div class="DivContainer flex flex-col w-full md:gap-y-15">
      <div class="flex gap-1.5 items-center w-full justify-between">
        <p
          class="rounded-full bg-samy p-4 size-1 flex items-center justify-center my-5 md:text-3xl md:p-8"
        >
          1
        </p>
        <img
          src="../../public/ImgWelcome.webp"
          alt="foto"
          class="w-10 h-10 md:w-40 md:h-40"
        />
        <div>
          <span
            class="text-[10px] md:text-3xl max-w-20 text-2xl font-bold md:w-auto"
            >Nombre del Helado Vendido</span
          >
          <p class="text-[10px] md:text-2xl">Vendidos 15</p>
        </div>
        <strong class="text-samy w-[28%] md:w-auto md:text-3xl"
          >$ 150 000</strong
        >
      </div>
      <div class="flex gap-1.5 items-center w-full justify-between">
        <p
          class="rounded-full bg-samy p-4 size-1 flex items-center justify-center my-5 md:text-3xl md:p-8"
        >
          2
        </p>
        <img
          src="../../public/ImgWelcome.webp"
          alt="foto"
          class="w-10 h-10 md:w-40 md:h-40"
        />
        <div>
          <span
            class="text-[10px] md:text-3xl max-w-20 text-2xl font-bold md:w-auto"
            >Nombre del Helado Vendido</span
          >
          <p class="text-[10px] md:text-2xl">Vendidos 15</p>
        </div>
        <strong class="text-samy w-[28%] md:w-auto md:text-3xl"
          >$ 150 000</strong
        >
      </div>
      <div class="flex gap-1.5 items-center w-full justify-between">
        <p
          class="rounded-full bg-samy p-4 size-1 flex items-center justify-center my-5 md:text-3xl md:p-8"
        >
          3
        </p>
        <img
          src="../../public/ImgWelcome.webp"
          alt="foto"
          class="w-10 h-10 md:w-40 md:h-40"
        />
        <div>
          <span
            class="text-[10px] md:text-3xl max-w-20 text-2xl font-bold md:w-auto"
            >Nombre del Helado Vendido</span
          >
          <p class="text-[10px] md:text-2xl">Vendidos 15</p>
        </div>
        <strong class="text-samy w-[28%] md:w-auto md:text-3xl"
          >$ 150 000</strong
        >
      </div>
      <div class="flex gap-1.5 items-center w-full justify-between">
        <p
          class="rounded-full bg-samy p-4 size-1 flex items-center justify-center my-5 md:text-3xl md:p-8"
        >
          4
        </p>
        <img
          src="../../public/ImgWelcome.webp"
          alt="foto"
          class="w-10 h-10 md:w-40 md:h-40"
        />
        <div>
          <span
            class="text-[10px] md:text-3xl max-w-20 text-2xl font-bold md:w-auto"
            >Nombre del Helado Vendido</span
          >
          <p class="text-[10px] md:text-2xl">Vendidos 15</p>
        </div>
        <strong class="text-samy w-[28%] md:w-auto md:text-3xl"
          >$ 150 000</strong
        >
      </div>
      <div class="flex gap-1.5 items-center w-full justify-between">
        <p
          class="rounded-full bg-samy p-4 size-1 flex items-center justify-center my-5 md:text-3xl md:p-8"
        >
          5
        </p>
        <img
          src="../../public/ImgWelcome.webp"
          alt="foto"
          class="w-10 h-10 md:w-40 md:h-40"
        />
        <div>
          <span
            class="text-[10px] md:text-3xl max-w-20 text-2xl font-bold md:w-auto"
            >Nombre del Helado Vendido</span
          >
          <p class="text-[10px] md:text-2xl">Vendidos 15</p>
        </div>
        <strong class="text-samy w-[28%] md:w-auto md:text-3xl">$ 50 000</strong
        >
      </div>
    </div>
  </div>
</section>
